<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://kit.fontawesome.com/9895d830b7.js" crossorigin="anonymous"></script>
</head>
<body>

<h1 class="fw-bolder mb-1">{{post.title | lower}}</h1>
{% if post.hook_text %}
<h5 class="text-muted">{{post.hook_text}}</h5>
{% endif %}
{% if post.file_upload %}
<a href = "{{post.file_upload.url}}" class="btn btn-outline-dark" role="button" download>
    {% if post.get_file_ext == 'xlsx' or post.get_file+ext == 'xls' %}
    <i class="fa-regular fa-file-excel"></i>
    {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
    <i class="fa-regular fa-file-word"></i>
    {% else %}
    <i class="fa-regular fa-file"></i>
    {% endif %}
    Download {{post.get_file_name}}
    <div>Posted on {{post.created_at | date:"Y-m-d h:m:s}}</div>
</a>
{% endif %}
</body>
</html>

nav태그에서
AboutMe

post_list.html
<h2 class="card-title">{{p.title | upper}}</h2>
{% if p.hook_text %}
<h5 class="text-muted">{{p.hook_text}}</h5>
{% endif %}
<p class="card-text">{{p.content | truncatechars:100 }}</p>
<div class="small text-muted">{{p.created_at | date:"Y-m-d h:m:s"}}</div>

git에 commit -m "포스트 목록/상세 페이지에 첨부파일, 미리보기, 필터 적용하기"
{% if post_list.exists%}
endfor 뒤에
{% else %}
    <h5>아무 게시물이 없습니다.</h5>
{% endif %}
<div class = id="main-area"></div>

git commit -m "포스트 목록 페이지 테스트하기"